<div class="jumbotron">
    <h1>User {{routeParams.id}}</h1>
</div>

<div ng-if="repos.length > 0">
	<table class="table table-stroped table-condensed">
		<thead>
			<tr>
				<th>Repo</th>
				<th>Fork</th>
				<th>Language</th>
				<th>Stars</th>
				<th>Forks</th>
				<th>Size</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in repos">
				<td><a href="{{r.html_url}}">{{r.name}}</a></td>
				<td>{{r.fork}}</td>
				<td>{{r.language}}</td>
				<td>{{r.stargazers_count}}</td>
				<td>{{r.forks_count}}</td>
				<td>{{r.size}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="repos.length == 0">
	Loading... <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>