{{define "index"}}
{{template "top" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h1>Hello, world</h1>

            {{if .user}}<p>Welcome, {{.user.Login}}!</p>{{end}}

            <p>
                This site is a listing of St Louis based designers and developers based
                on what they have created.
            </p>
            <p>
                This site harvests public information from Github. If a user on Github has
                self-identified as being from St. Louis, they are included here. Eventually there
                will be an option to opt out, but that isn't implemented yet.
            </p>
            <p>Some potential future features are:</p>
            <ul>
                <li>awards and badges</li>
                <li>a job board</li>
                <li>other integrations (bitbucket, etc)</li>
            </ul>
            <p>
                If you would like to help development, <a href="http://github.com/jakecoffman/stldevs" target="_blank">
                fork on Github!</a>
            </p>
        </div>
    </div>
</div>
{{template "bot" .}}
{{end}}