{{define "index"}}
{{template "top" .}}
<div class="container-fluid">
    <h1>Hello, world!</h1>

    {{if .user}}<p>Welcome, {{.user}}</p>{{end}}

    <p>
        This site is for St Louis based developers to maintain a profile for whatever purpose
        they see fit. The main objective is to allow for companies to find skilled workers that
        might be interested in working for them. Rather than relying on recruiters who send
        blanket emails, companies and developers can interact in a more direct manor.
    </p>
    <p>
        This site harvests public information from Github. If you do not wish to have a profile
        on this site, just log in with your Github account, go to your settings, and select
        "remove me."
    </p>
</div>
{{template "bot"}}
{{end}}