{{define "language"}}
{{template "top" .}}
<div class="container-fluid">
    <h1>St. Louis developers that write {{.language}}</h1>
    {{range .languages}}
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li><a href="/profile/{{.Owner.Login}}">{{.Owner.Login}}</a></li>
                <li>user has {{.Count}} repos in {{$.language}}</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <ul>{{range $index, $repo := .Repos}}
                {{if lt $index 3}}
                <li>
                    <b><a href="http://github.com/{{.Owner.Login}}/{{.Name}}" target="_blank">{{.Name}}</a></b> -
                    <i class="fa fa-star"></i>{{.StargazersCount}}
                    <i class="fa fa-code-fork"></i>{{.ForksCount}}
                    <i>{{.Description}}</i>
                </li>
                {{end}}
            {{end}}</ul>
        </div>
    </div>
    {{end}}
</div>
{{template "bot" .}}
{{end}}
