{{define "profile"}}
{{template "top" .}}
<div class="container-fluid">
    <div class="row">
        {{with .profile.User}}
        <div class="col-sm-4">
            <img src="{{.AvatarURL}}" height="230" width="230">
            <p>{{.Name}}</p>
            <p><a href="http://github.com/{{.Login}}" target="_blank">{{.Login}} <i class="fa fa-github"></i></a></p>
            <p><a href="{{.Blog}}" target="_blank">{{.Blog}}</a></p>
        </div>
        <div class="col-sm-8">
            <h2>Stats</h2>
            <dl class="dl-horizontal">
                <dt>Followers</dt>
                <dd>{{.Followers}}</dd>
                <dt>Repos</dt>
                <dd>{{.PublicRepos}}</dd>
                <dt>Gists</dt>
                <dd>{{.PublicGists}}</dd>
            </dl>
            {{end}}
            <h2>Languages</h2>
            <dl class="dl-horizontal">
                {{range $lang, $names := .profile.Repos}}
                <dt><a href="/lang/{{$lang}}">{{$lang}}</a> - {{$names | len}}</dt>
                {{range $names}}
                <dd>
                    <a href="http://github.com/{{$.profile.User.Login}}/{{.Name}}" target="_blank">{{.Name}}</a>
                    <i class="fa fa-star"></i>{{.StargazersCount}}
                    <i class="fa fa-code-fork"></i>{{.ForksCount}}</dd>
                {{end}}
                {{end}}
            </dl>
        </div>
    </div>
</div>
{{template "bot" .}}
{{end}}