{{define "top"}}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="wrap">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">stldevs</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/toplangs">Top Languages</a></li>
                <!--<li><a href="/topdevs">Top Developers</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{if .user}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{.user.Login}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {{if .admin}}<li><a href="/admin">Admin</a></li>{{end}}
                        <li><a href="/profile/{{.user.Login}}">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                {{else}}
                <li>
                    <a href="{{.github}}"><i class="fa fa-github"></i> Login</a>
                </li>
                {{end}}
            </ul>
            <form class="navbar-form navbar-right" role="search" action="/search" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search users">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{{end}}
