{{define "topdevs"}}
{{template "top" .}}
<div class="container-fluid">
    <h1>Top Developers</h1>

    <p>In St. Louis as of {{.lastrun}}</p>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Developer</th>
                    <th>Amount of Stars</th>
                </tr>
                </thead>
                <tbody>
                {{range .devs}}
                <tr>
                    <td><a href="/profile/{{.Login}}">{{if .Name}}{{.Name}}{{else}}{{.Login}}{{end}}</a></td>
                    <td>{{.Stars}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{template "bot" .}}
{{end}}