{{define "toplangs"}}
{{template "top" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h1>Top St. Louis  Languages</h1>

            {{if .lastrun}}<p>as of {{.lastrun}}</p>{{end}}

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Language</th>
                    <th>Amount of Repositories</th>
                    <th>Amount of Users</th>
                </tr>
                </thead>
                <tbody>
                {{range .langs}}
                <tr>
                    <td><a href="/lang/{{.Language}}">{{.Language}}</a></td>
                    <td>{{.Count}}</td>
                    <td>{{.Users}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{template "bot" .}}
{{end}}