name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build stldevs
      run: go build cmd/stldevs/stldevs.go

    - name: Build runner
      run: go build cmd/run/run.go

    - name: Test
      run: sh test.sh

    - uses: actions/upload-artifact@v2
      with:
        name: dist
        path: |
          stldevs
          run

  deploy:
    if: github.event_name != 'pull_request'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: dist
    - name: Deploy
      uses: appleboy/scp-action@master
      with:
        host: stldevs.com
        username: deploy
        key: ${{ secrets.KEY }}
        port: 22
        source: "stldevs,run"
        target: "~"

    - name: Restart
      uses: appleboy/ssh-action@master
      with:
        host: stldevs.com
        username: deploy
        key: ${{ secrets.KEY }}
        port: 22
        script: |
          sudo service stldevs stop
          mv -f ~/stldevs /opt/stldevs
          mv -f ~/run /opt/stldevs
          cd /opt/stldevs
          chmod +x stldevs
          chmod +x run
          sudo service stldevs start
